body{
 margin: 0; 
 padding: 0;
 align-items: center;
 justify-content: center;
 text-align: center;
 background: #37350eb8;
}
nav{
  font-size: 1.5rem;
  justify-content: space-between;
  display: flex;
  padding: 0 35px;
  background:#37350e1c ;
  align-items: center;
}
li{
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  color: black;
  position: relative;
}
li a{
  text-decoration: none;
  color: black;
  z-index: 88;
}
li a:hover{
  color: #b1aa0eb8;
  
}
li a::before{
  content: "";
  border-radius: 7px;
  position: absolute;
  top: -36px;
  z-index: -1;
  right: -15px;
  background: #b1aa0eb8;
  width:130%;
  height: 100px;
}
li a::after:hover{
  scale: 2;
}
.nav-a{
  margin: 0 27px;
}
.nav-logo h1{
  justify-content: ;
}
.jumbotron img{
 background-size: cover;
 position:relative;
 top: -100px;
 z-index: -9;
}